name: Metrics
on:
  schedule: [{cron: "0 0 * * 1"}] # Weekly updates
  workflow_dispatch: # Manual trigger
  push: {branches: ["master", "main"]} # Run on push to main or master

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: read # Adjust based on your needs
    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@v<specific_version>
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg
          base: header, activity, community, metadata
          base_indepth: yes
          repositories: 200
          user: slsevilla

      - name: Generate Language Metrics
        uses: lowlighter/metrics@v<specific_version>
        with:
          filename: metrics.plugin.languages.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          user: slsevilla
          plugin_languages: yes
          plugin_languages_sections: most-used, recently-used
          plugin_languages_indepth: yes
          plugin_languages_other: no
          plugin_languages_ignored: html, css, scss, lua, Jupyter Notebook, TeX, JavaScript, PostScript, Apex, Eiffel
          plugin_languages_analysis_timeout: 60
          plugin_languages_details: bytes-size, percentage
          plugin_languages_aliases: RenderScript:Rust, rebol:R

      - name: Generate Notable Contributions
        uses: lowlighter/metrics@v<specific_version>
        with:
          filename: metrics.plugin.notable.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_notable: yes
          plugin_notable_indepth: no
          plugin_notable_repositories: yes
          plugin_notable_self: yes
          plugin_notable_types: commit, pull_request, issue
